<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat | XO Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://ahmed0saber.github.io/XO-online/external-files/style.css">
</head>
<body>
    <div class="loader">
        <div class="circle"></div>
    </div>
    <div class="fullscreen">
        <header>
            <span class="logo">XO Online</span>
            <nav>
                <div>
                    <a href="{% url 'app:header' %}"><i class="fa fa-home"></i> <span>Home</span></a>
                    <a href="{% url 'app:board' %}"><i class="fa fa-trophy"></i> <span>Leaderboard</span></a>
                    <a class="active" href="{% url 'chat:chat' %}"><i class="fa fa-envelope"></i> <span>Chat</span></a>
                    <a href="{% url 'app:notifications' %}"><i class="fa fa-bell"></i> <span>Notifications</span></a>
                    <a href="{% url 'accounts:profile' %}"><i class="fa fa-user"></i> <span>Profile</span></a>
                </div>
            </nav>
        </header>

        <main class="main-chat">
            <section class="home chat-section">
                <section class="chat">
                    <div class="msg-container" id="msg_container">
                        <button onclick="_load()" id="loadmsgs">Load previous messages</button>
                        {% for message in messages %}
                        {% if message.sender == user %}
                        <div class="msg myMSG" data-id="{{ message.unique_id }}">
                            <div>
                                <p>{{ message.content }}</p>
                                <span>{{ message.date_sent|date:'M. j, g:i A' }}</span>
                            </div>
                        </div>
                        {% else %}
                        <div class="msg" data-id="{{ message.unique_id }}">
                            <a href="{% url 'accounts:view_user' message.sender.front_id %}">
                                <img src="{{ message.sender.image.url }}">
                            </a>
                            <div>
                                <h4>{{ message.sender }}</h4>
                                <p>{{ message.content }}</p>
                                <span>{{ message.date_sent|date:'M. j, g:i A' }}</span>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </section>
            </section>
        </main>
    </div>
    <div class="inputs">
        <input type="text" autocomplete="off" id="tx1" placeholder="Message">
        <button type="button" id="send" onclick="_send()">Send</button>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ahmed0saber.github.io/XO-online/external-files/script.js"></script>
<script src="https://ahmed0saber.github.io/XO-online/external-files/chat.js"></script>
<script src="https://kit.fontawesome.com/282bcf757e.js" crossorigin="anonymous"></script>
</html>
