<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | XO Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://ahmed0saber.github.io/XO-online/external-files/style.css">
</head>
<body>
    <div class="loader">
        <div class="circle"></div>
    </div>
    <header>
        <span class="logo">XO Online</span>
        <nav>
            <div>
                <a class="active" href="{% url 'app:header' %}"><i class="fa fa-home"></i> <span>Home</span></a>
                <a href="{% url 'app:board' %}"><i class="fa fa-trophy"></i> <span>Leaderboard</span></a>
                <a href="{% url 'chat:chat' %}"><i class="fa fa-envelope"></i> <span>Chat</span></a>
                <a href="{% url 'app:notifications' %}"><i class="fa fa-bell"></i> <span>Notifications</span></a>
                <a href="{% url 'accounts:profile' %}"><i class="fa fa-user"></i> <span>Profile</span></a>
            </div>
        </nav>
    </header>
    <main>
        <section class="form">
            <h2>Login to continue</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button>Log in</button>
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                <p>Don't have account ? <a href="{% url 'accounts:signup' next%}">Create one</a></p>
            </form>
        </section>
    </main>
</body>
<script src="https://ahmed0saber.github.io/XO-online/external-files/script.js"></script>
<script src="https://kit.fontawesome.com/282bcf757e.js" crossorigin="anonymous"></script>
</html>
