<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | XO Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://ahmed0saber.github.io/XO-online/external-files/style.css">
</head>
<body>
    <div class="loader">
        <div class="circle"></div>
    </div>
    <header>
        <span class="logo">XO Online</span>
        <nav>
            <div>
                <a href="{% url 'app:header' %}"><i class="fa fa-home"></i> <span>Home</span></a>
                <a href="{% url 'app:board' %}"><i class="fa fa-trophy"></i> <span>Leaderboard</span></a>
                <a href="{% url 'chat:chat' %}"><i class="fa fa-envelope"></i> <span>Chat</span></a>
                <a href="{% url 'app:notifications' %}"><i class="fa fa-bell"></i> <span>Notifications</span></a>
                <a class="active" href="{% url 'accounts:profile' %}"><i class="fa fa-user"></i> <span>Profile</span></a>
            </div>
        </nav>
    </header>
    <main>
        <section class="home">
            <section class="logo-container">
                <img src="{{ user.image.url }}">
            </section>
            <section class="profile-controls">
                <h3>{{ user }}</h3>
                <div class="col-btns">
                    <a onclick="logout()">Log out</a>
                    <a href="{% url 'accounts:settings' %}">Edit Profile</a>
                    <a onclick="copylink()">Share</a>
                </div>
                <p>Played {{ user.total_games }} games</p>
                <p>Win: {{ user.won_games }}</p>
                <p>Lose: {{ user.lost_games }}</p>
                <p>Draw: {{ user.draw_games }}</p>
                <p>Win rate: {{ win_rate }} %</p>
            </section>
        </section>
        <section class="match-history">
            <h2>Recent {{ history.count }} Games</h2>
            {% for match in history %}
            {% if match.winner == user %}
            <fieldset>
                <legend class="win">win</legend>
                <p>You VS {{ match.loser }}</p>
                <span>{{match.time|date:'M. j, g:i A'}}</span>
            </fieldset>
            {% elif match.loser == user %}
            <fieldset>
                <legend class="lose">lose</legend>
                <p>You VS {{ match.winner }}</p>
                <span>{{match.time|date:'M. j, g:i A'}}</span>
            </fieldset>
            {% else %}
            <fieldset>
                <legend class="draw">draw</legend>
                <p>You VS
                    {% for player in match.draw.all %}
                    {% if player != user %}
                    {{player}}
                    {%  endif %}
                    {% endfor %}
                </p>
                <span>{{match.time|date:'M. j, g:i A'}}</span>
            </fieldset>
            {% endif %}
            {% endfor %}
        </section>
    </main>
</body>
<script>
var user_id = "{{user.front_id}}";
function copylink(){
    var TempText = document.createElement("input");
    var url = window.location.href
    var TextToCopy = url.slice(0, url.indexOf("/", 10)+1) + "accounts/user/"+user_id;
    TempText.value = TextToCopy;
    document.body.appendChild(TempText);
    TempText.select();
    document.execCommand("copy");
    document.body.removeChild(TempText);
    alert("Copied the text : " + TempText.value);
}
function logout(){
    let isExecuted = confirm("Are you sure to log out ?!");
    if(isExecuted){
        window.open("{% url 'accounts:logout' %}" , "_self");
    }
}
</script>
<script src="https://ahmed0saber.github.io/XO-online/external-files/script.js"></script>
<script src="https://kit.fontawesome.com/282bcf757e.js" crossorigin="anonymous"></script>
</html>
