<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit | XO Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://ahmed0saber.github.io/XO-online/external-files/style.css">
    <script>
        window.addEventListener('load', function() {
            document.querySelector('input[type="file"]').addEventListener('change', function() {
                if (this.files && this.files[0]) {
                    var img = document.querySelector('img');
                    img.onload = () => {
                        URL.revokeObjectURL(img.src);  // no longer needed, free memory
                    }
                    img.src = URL.createObjectURL(this.files[0]); // set src to blob url
                }
            });
        });
        function goavatars()
        {
            window.open("{% url 'accounts:avatars' %}","_self");
        }
    </script>
</head>
<body>
    <div class="loader">
        <div class="circle"></div>
    </div>
    <header>
        <span class="logo">XO Online</span>
        <nav>
            <div>
                <a href="{% url 'app:header' %}"><i class="fa fa-home"></i> <span>Home</span></a>
                <a href="{% url 'app:board' %}"><i class="fa fa-trophy"></i> <span>Leaderboard</span></a>
                <a href="{% url 'chat:chat' %}"><i class="fa fa-envelope"></i> <span>Chat</span></a>
                <a href="{% url 'app:notifications' %}"><i class="fa fa-bell"></i> <span>Notifications</span></a>
                <a class="active" href="{% url 'accounts:profile' %}"><i class="fa fa-user"></i> <span>Profile</span></a>
            </div>
        </nav>
    </header>
    <main>
        <section class="home">
            <section class="logo-container">
                <img src="{{ user.image.url }}">
            </section>
            <section class="profile-controls">
                <section class="profile-controls">
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>First Name</p>
                        <input type="text" placeholder="First Name" value="{{ user.first_name }}" name="first_name">
                        <p>Last Name</p>
                        <input type="text" placeholder="Last Name" value="{{ user.last_name }}" name="last_name">
                        <p>Email Address</p>
                        <input type="email" placeholder="Email" value="{{ user.email }}" name="email">
                        <p>Change Profile Picture</p>
                        <input type="file" id="selectedFile" style="display: none;"  name="image"/>
                        <div class="col-btns">
                            <a onclick="document.getElementById('selectedFile').click();">From Device</a>
                            <a href="{% url 'accounts:avatars' %}">From Avatars</a>
                        </div>
                        <button type="submit">Save</button>
                    </form>
                </section>
            </section>
        </section>
    </main>
</body>
<script src="https://ahmed0saber.github.io/XO-online/external-files/script.js"></script>
<script src="https://kit.fontawesome.com/282bcf757e.js" crossorigin="anonymous"></script>
</html>
