<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | XO Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://ahmed0saber.github.io/XO-online/external-files/style.css">
</head>
<body>
    <div class="loader">
        <div class="circle"></div>
    </div>
    <header>
        <span class="logo">XO Online</span>
        <nav>
            <div>
                <a class="active" href="{% url 'app:header' %}"><i class="fa fa-home"></i> <span>Home</span></a>
                <a href="{% url 'app:board' %}"><i class="fa fa-trophy"></i> <span>Leaderboard</span></a>
                <a href="{% url 'chat:chat' %}"><i class="fa fa-envelope"></i> <span>Chat</span></a>
                <a href="{% url 'app:notifications' %}"><i class="fa fa-bell"></i> <span>Notifications</span></a>
                <a href="{% url 'accounts:profile' %}"><i class="fa fa-user"></i> <span>Profile</span></a>
            </div>
        </nav>
    </header>
    <main>
        <section class="form">
            <h2>Create new account</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="First Name" name="first_name">
                <input type="text" placeholder="Last Name" name="last_name">
                <input type="email" placeholder="Email" name="email">
                <div class='errors' id='email_errors'></div>
                {{form.email.errors}}
                <input type="password" placeholder="Password" name="password1">
                <div class='errors' id='pass_errors'></div>
                {{form.password1.errors}}
                <input type="password" placeholder="Confirm Password" name="password2">
                <div class='errors' id='pass2_errors'></div>
                {{form.password2.errors}}
                <button type="submit">Sign up</button>
                <p>Already have account ? <a href="{% url 'accounts:login' next%}">Log in</a></p>
            </form>
        </section>
    </main>
</body>
<script>
let email = document.getElementById('email')
email.oninput = async ()=>{
    if (email.value == ''){
        email.classList = ''
        document.getElementById('email_errors').innerHTML = ''
        return
    }
    let res = await fetch(`/accounts/api/check_email/?email=${email.value}`)
    if (res.ok){
        email.classList = 'right'
        document.getElementById('email_errors').innerHTML = ''
    }else{
        console.clear()
        email.classList = 'wrong'
        res = await res.json()
        document.getElementById('email_errors').innerHTML ='' 
        for (err of res.details){
        document.getElementById('email_errors').innerHTML += `<p class='errors'>${err}</p>` 
        }
    }
}

let password = document.getElementById('password1')
password.oninput = async ()=>{
    if (password.value == ''){
        password.classList = ''
        document.getElementById('pass_errors').innerHTML = ''
        return
    }
    let res = await fetch(`/accounts/api/check_password/?password=${password.value}`)
    if (res.ok){
        password.classList = 'right'
        document.getElementById('pass_errors').innerHTML = ''
    }else{
        console.clear()
        password.classList = 'wrong'
        res = await res.json()
        document.getElementById('pass_errors').innerHTML = '' 
        for (err of res.details){
            document.getElementById('pass_errors').innerHTML += `<p class='errors'>${err}</p>` 
        }
    }
}

let password2 = document.getElementById('password2')
password2.oninput = ()=>{
    if (password2.value == password.value){
        password2.classList = 'right'
        document.getElementById('pass2_errors').innerHTML = ''
    }else{
        password2.classList = 'wrong'
        document.getElementById('pass2_errors').innerHTML = 'Two passwords must be the same' 
    }
}
</script>
<script src="https://ahmed0saber.github.io/XO-online/external-files/script.js"></script>
<script src="https://kit.fontawesome.com/282bcf757e.js" crossorigin="anonymous"></script>
</html>
