<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications | XO Online</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://ahmed0saber.github.io/XO-online/external-files/style.css">
</head>
<body>
    <div class="loader">
        <div class="circle"></div>
    </div>
    <header>
        <span class="logo">XO Online</span>
        <nav>
            <div>
                <a href="{% url 'app:header' %}"><i class="fa fa-home"></i> <span>Home</span></a>
                <a href="{% url 'app:board' %}"><i class="fa fa-trophy"></i> <span>Leaderboard</span></a>
                <a href="{% url 'chat:chat' %}"><i class="fa fa-envelope"></i> <span>Chat</span></a>
                <a class="active" href="{% url 'app:notifications' %}"><i class="fa fa-bell"></i> <span>Notifications</span></a>
                <a href="{% url 'accounts:profile' %}"><i class="fa fa-user"></i> <span>Profile</span></a>
            </div>
        </nav>
    </header>
    <main>
        <section class="notifications">
            <section class="notifications-container">
            </section>
        </section>
    </main>
</body>
<script src="https://ahmed0saber.github.io/XO-online/external-files/script.js"></script>
<script>
let container = document.getElementsByClassName('notifications-container')[0]
let api_url="/accounts/api/notifications/en/"
fetch(api_url)
    .then(response => response.json())
    .then(data => {
        for(notification of data){
        let tag = ` <a href="${ notification.url }">
                        <div class="notification">
                            <p>${ notification.content }</p>
                            <span>${ notification.time }</span>
                        </div>
                    </a>`
                    container.innerHTML += tag 
        }
        container.innerHTML += `<div id="notification">
        <p>Hello {{user}}!!<br>Welcome to xo-online , where you can play vs bots , friends or even strangers.<br>For more info about the game or the developers , press home icon then the button named "About".<br>Have fun and enjoy your time !</p>
        <p id="info">Best wishes<br>The developers</p>
    </div>`
    })
</script>
<script src="https://kit.fontawesome.com/282bcf757e.js" crossorigin="anonymous"></script>
</html>
