<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>online Tic Tac Toe</title>
    <style>
      body{
        margin: 0;
        padding: 0;
        width: 300px;
        height: 407px;
        background-color: #EEE;
        overflow: hidden;
      }
      #div1{
        margin: auto;
        text-align: center;
      }
      #notification{
        width: 90%;
        border: 1px solid #007;
        min-height: 50px;
        border-radius: 10px;
        text-align: left;
        padding: 5px;
        margin: calc(5% - 5px);
      }
    </style>
  </head>
  <body>
    <div id="div1">
        <div id="notification">
          <p>Ahmed Saber invited you to play an online match vs him , <a href="">Click here to join him</a></p>
        </div>
        <div id="notification">
          <p>Ahmed Yasser invited you to play an online match vs him , <a href="">Click here to join him</a></p>
        </div>
    </div>
  </body>
</html>
