<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online Tic Tac Toe</title>
    <style>
      body{
        margin: 0;
      }
      #div1{
        height: 450px;
        width: 300px;
        border: 2px solid green;
        margin: auto;
        margin-top: 25px;
        text-align: center;
      }
      .btns{
        height: 30px;
        width: 180px;
        margin: 15px;
      }
    </style>
  </head>
  <body>
    <div id="div1">
      <p>online mode</p>
      <a href=""><button class="btns">View profile</button></a>
      <a href=""><button class="btns">Play</button></a>
      <a href=""><button class="btns">Leaderboard</button></a>
      <a href=""><button class="btns">Chat</button></a>
      <a href=""><button class="btns">Back to home page</button></a>
    </div>
  </body>
</html>
